In [160]:
import pandas as pd
import numpy as np 
from dbfread import DBF
import psycopg2

# Colunas de dados necessario para criar o banco de dados INNOVARO

## colunas:

1- Código <br>
2- Nome <br>
3- classe <br>
4- Classificação fiscal <br>
5- UN <br>
6- Procedência <br>
7- Fabricante <br>
8- Referência fabricante <br>
9- Marca <br>
10- Modelo <br>
11- Coleção/Família <br>
12- Cor <br>
13- Tamanho <br>
14- Quantidade P/Volume <br>
15- Quantidade P/Vol Compra <br>
16- Data em que o produto saiu de linha <br>
17- Informador <br>
18- Data em que o produto tornou-se inativo <br>
19- inativador <br>
20- Material <br>
21- Referência principal <br>
22- Descriçao Genérica <br>
23- Cest <br>
24- Tipo de Medicamento <br>
25- Outras Caracteristicas <br>
26- Validade(meses)

## upload SDB Principal

In [4]:
estoq001 = DBF('ESTOQ001.dbf', encoding='latin1')
estoq001 = pd.DataFrame(estoq001)

## visualização do banco de dados

In [6]:
estoq001.head(3)

,TQCLASSI,TQCODIGO,TQGRADE,TQDESCRI,TQCODBAR,TQEMBENT,TQENTQTD,TQEMBSAI,TQSAIQTD,TQQTDMAX,...,TQIDPROM,TQQTDPRO,TQVALPRO,TQRASTRO,TQOPERAD,TQULTPRE,TQMARCA,TQBENEFI,TQDESONE,TQALIFCP
0,10.033.052,1,UN,TORQUES ARMADOR,,UN,1,UN,1,0,...,0,0.0,0.0,,37,11.16,,,,0.0
1,10.019.022,2,UN,ACESSORIO VERAO,,UN,1,UN,1,0,...,0,0.0,0.0,,37,5.16,,,,0.0
2,10.033.052,3,UN,X 8EQUOT,,UN,1,UN,1,0,...,0,0.0,0.0,,37,0.00,,,,0.0

## identificação de informações das colunas do dataframe

In [7]:
estoq001.info(verbose = True, show_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86475 entries, 0 to 86474
Data columns (total 102 columns):
 #    Column     Non-Null Count  Dtype
---   ------     --------------  -----
 0    TQCLASSI   86475 non-null  object
 1    TQCODIGO   86475 non-null  object
 2    TQGRADE    86475 non-null  object
 3    TQDESCRI   86475 non-null  object
 4    TQCODBAR   86475 non-null  object
 5    TQEMBENT   86475 non-null  object
 6    TQENTQTD   86475 non-null  int64
 7    TQEMBSAI   86475 non-null  object
 8    TQSAIQTD   86475 non-null  int64
 9    TQQTDMAX   86475 non-null  int64
 10   TQQTDMIN   86475 non-null  int64
 11   TQSALDO    85689 non-null  float64
 12   TQULTENT   8417 non-null   object
 13   TQULTSAI   27694 non-null  object
 14   TQPREVIS   0 non-null      object
 15   TQPRECUS   86475 non-null  float64
 16   TQPREVEN   86475 non-null  float64
 17   TQSUBSTI   86475 non-null  float64
 18   TQTRIBUT   86475 non-null  object
 19   TQALIQUO   86475 non-null  object
 20   TQALIICM   86475 non-null  float64
 21   TQIPV      86475 non-null  object
 22   TQOBSERV   86475 non-null  object
 23   TQOBSERV1  86475 non-null  object
 24   TQALTERA   86475 non-null  object
 25   TQLUCRO    86475 non-null  float64
 26   TQPREOFE   86475 non-null  float64
 27   TQPREBAS   86475 non-null  float64
 28   TQATIVO    86475 non-null  object
 29   TQETIQUE   86475 non-null  object
 30   TQPREALT   86024 non-null  float64
 31   TQDATCAD   18343 non-null  object
 32   TQDATALT   86475 non-null  object
 33   TQCOMISS   86475 non-null  float64
 34   TQVASILH   86475 non-null  object
 35   TQVASEAN   86475 non-null  object
 36   TQCODANT   86475 non-null  object
 37   TQCODPEN   86475 non-null  float64
 38   TQCOMBUS   86475 non-null  object
 39   TQSETOR    86475 non-null  object
 40   TQIPI      86475 non-null  object
 41   TQTRANSF   86475 non-null  object
 42   TQVALIDA   86475 non-null  object
 43   TQPREGAS   86475 non-null  float64
 44   TQVALOFE   0 non-null      object
 45   TQDESCRO   86475 non-null  object
 46   TQFATOR    86475 non-null  int64
 47   TQPIS      86475 non-null  float64
 48   TQCOFINS   86475 non-null  float64
 49   TQIVA      86475 non-null  float64
 50   TQCFOP     86475 non-null  object
 51   TQNCM      86475 non-null  object
 52   TQCSTALT   86475 non-null  object
 53   TQREDUST   86475 non-null  float64
 54   TQPREREV   86475 non-null  float64
 55   TQLUCROA   86475 non-null  float64
 56   TQCSTPIS   86475 non-null  object
 57   TQCSTCOF   86475 non-null  object
 58   TQCODANP   86475 non-null  object
 59   TQALIIPI   86475 non-null  float64
 60   TQINVEN    86475 non-null  float64
 61   TQCSOSN    86475 non-null  object
 62   TQFOTOS    86475 non-null  object
 63   TQCFOPE    86475 non-null  object
 64   TQCEST     86475 non-null  object
 65   TQCSTPIE   86475 non-null  object
 66   TQCSTCOE   86475 non-null  object
 67   TQNATISE   86475 non-null  object
 68   TQNOMANT   86475 non-null  object
 69   TQOUTRAS   84658 non-null  float64
 70   TQHORALT   86475 non-null  object
 71   TQSTATUS   86475 non-null  object
 72   TQID       86475 non-null  int64
 73   TQDESANP   86475 non-null  object
 74   TQGRUPO    86475 non-null  object
 75   TQSGRUPO   86475 non-null  object
 76   TQPRINT    86475 non-null  object
 77   TQLOCAL    86475 non-null  object
 78   TQREDPIS   86475 non-null  object
 79   TQCOMBO    86475 non-null  object
 80   TQCOMPDV   86475 non-null  object
 81   TQIDTB     86475 non-null  int64
 82   TQCARGA    86475 non-null  object
 83   TQREGESP   86475 non-null  object
 84   TQMODBC    86475 non-null  object
 85   TQMODBCST  86475 non-null  object
 86   TQDUPLIC   86475 non-null  object
 87   TQFCP      84658 non-null  float64
 88   TQCOMATU   86475 non-null  object
 89   TQPROSER   86475 non-null  object
 90   TQALIPDV   86475 non-null  float64
 91   TQCUSMED   85187 non-null  float64
 92   TQIDPROM   86475 non-null  int64
 93   TQQTDPRO   86475 non-null  float64
 94   TQVALPRO   86475 non-null  float64
 95   TQRASTRO   86475 non-null  object
 96   TQOPERAD   86475 non-null  object
 97   TQULTPRE   85402 non-null  float64
 98   TQMARCA    86475 non-null  object
 99   TQBENEFI   86475 non-null  object
 100  TQDESONE   86475 non-null  object
 101  TQALIFCP   86475 non-null  float64
dtypes: float64(28), int64(8), object(66)
memory usage: 67.3+ MB

## seleção de colunas para o banco de dados do INNOVARO 

deverá ser inserido apenas as colunas que queremos visualizar no banco de dados do Prosuper

In [9]:
colunas = ['TQCODIGO', 'TQDESCRI', 'TQGRADE', 'TQOBSERV', 'TQPRECUS', 'TQPREVEN', 'TQNCM', 'TQCFOP', 'TQCEST', 'TQGRUPO', 'TQSGRUPO']

## filtrando as colunas no banco de dados

In [53]:
estoq001_filtro = estoq001[colunas]

In [54]:
estoq001_filtro

,TQCODIGO,TQDESCRI,TQGRADE,TQOBSERV,TQPRECUS,TQPREVEN,TQNCM,TQCFOP,TQCEST,TQGRUPO,TQSGRUPO
0,1,TORQUES ARMADOR,UN,TORQUES ARMADOR,0.000,9.99,8203.20.10,5405,0800800,LEDS,LEDS/LED
1,2,ACESSORIO VERAO,UN,ACESSORIO VERAO,0.000,0.00,8205.40.00,5102,,BIJUTERIAS,BIJUTERIA/ACESSORIOS VERAO
2,3,X 8EQUOT,UN,CHAVE DE FENDA 1/4EQUOT,0.000,5.80,8205.40.00,5405,,LEDS,LEDS/LED
3,4,CHAVE PHILLIPS 1/4,UN,CHAVE PHILLIPS 1/4EQUOT,0.000,5.16,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA
4,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.000,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA
...,...,...,...,...,...,...,...,...,...,...,...
86470,91691,TELA PARA PINTURA,UN,TELA PARA PINTURA 20X20,1.136,0.00,4414.10.00,5102,,PAPELARIA,PAPELARIA/PAPELARIA
86471,91692,TELA PARA PINTURA,UN,TELA PARA PINTURA 24X30,1.563,0.00,4414.10.00,5102,,PAPELARIA,PAPELARIA/PAPELARIA
86472,91693,TELA PARA PINTURA,UN,TELA PARA PINTURA,2.160,0.00,4414.10.00,5102,,PAPELARIA,PAPELARIA/PAPELARIA
86473,91694,KINDER OVO JOY,UN,CHOC KINDER OVO JOY,0.000,0.00,1806.90.00,5102,1700400,CONVENIENCIA,CONVENIENCIA/ALIMENTOS
86474,91695,BALA MAST DUO,UN,BALA MAST DUO,0.000,0.00,1806.90.00,5102,1700400,CONVENIENCIA,CONVENIENCIA/ALIMENTOS

## identificando valores do dataframe estoq001_filtro

In [55]:
estoq001_filtro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86475 entries, 0 to 86474
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TQCODIGO  86475 non-null  object
 1   TQDESCRI  86475 non-null  object
 2   TQGRADE   86475 non-null  object
 3   TQOBSERV  86475 non-null  object
 4   TQPRECUS  86475 non-null  float64
 5   TQPREVEN  86475 non-null  float64
 6   TQNCM     86475 non-null  object
 7   TQCFOP    86475 non-null  object
 8   TQCEST    86475 non-null  object
 9   TQGRUPO   86475 non-null  object
 10  TQSGRUPO  86475 non-null  object
dtypes: float64(2), object(9)
memory usage: 7.3+ MB

## renomeando colunas do dataframe

In [56]:
estoq001_filtro.rename({'TQCODIGO':'CODIGO', 'TQDESCRI':'DESCRICAO', 'TQGRADE' : 'GRADE', 'TQOBSERV':'OBSERVAÇÃO/DESCRIÇÃO COMPLETA', 'TQPRECUS':'CUSTO', 'TQPREVEN':'VENDA', 'TQNCM':'NCM', 'TQCFOP': 'CFOP',
                           'TQCEST':'CEST', 'TQGRUPO':'SETOR', 'TQSGRUPO': 'SUB-GRUPO'}, axis = 1 , inplace = True)

C:\Users\murillo\AppData\Local\Temp\ipykernel_5924\194538697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estoq001_filtro.rename({'TQCODIGO':'CODIGO', 'TQDESCRI':'DESCRICAO', 'TQGRADE' : 'GRADE', 'TQOBSERV':'OBSERVAÇÃO/DESCRIÇÃO COMPLETA', 'TQPRECUS':'CUSTO', 'TQPREVEN':'VENDA', 'TQNCM':'NCM', 'TQCFOP': 'CFOP',

## limpando e convertendo dados do dataframe

In [22]:
estoq001_filtro['CODIGO'] = estoq001_filtro['CODIGO'].apply(lambda x: x.replace('.', ''))

C:\Users\murillo\AppData\Local\Temp\ipykernel_5924\213038307.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estoq001_filtro['CODIGO'] = estoq001_filtro['CODIGO'].apply(lambda x: x.replace('.', ''))

In [48]:
estoq001_filtro['CODIGO'] = estoq001_filtro['CODIGO'].apply(str)

C:\Users\murillo\AppData\Local\Temp\ipykernel_5924\3954982370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estoq001_filtro['CODIGO'] = estoq001_filtro['CODIGO'].apply(str)

## identificação dos tipos após conversão

In [104]:
estoq001_filtro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86475 entries, 0 to 86474
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CODIGO                         86475 non-null  object
 1   DESCRICAO                      86475 non-null  object
 2   GRADE                          86475 non-null  object
 3   OBSERVAÇÃO/DESCRIÇÃO COMPLETA  86475 non-null  object
 4   CUSTO                          86475 non-null  float64
 5   VENDA                          86475 non-null  float64
 6   NCM                            86475 non-null  object
 7   CFOP                           86475 non-null  object
 8   CEST                           86475 non-null  object
 9   SETOR                          86475 non-null  object
 10  SUB-GRUPO                      86475 non-null  object
dtypes: float64(2), object(9)
memory usage: 7.3+ MB

## DataFrame ESTOQ001 CORRIGIDO.

# UPLOAD BANCO DE DADOS COM CODIGOS DE BARRAS

In [58]:
escodbar = DBF('ESCODBAR.dbf', encoding= 'latin1')
escodbar = pd.DataFrame(escodbar)

## visualizando o dataframe de codigos de barras

In [59]:
escodbar.head(3)

,CBCODBAR,CBCLASSI,CBCODIGO,CBGRADE,CBDESCRI,CBNOMANT,CBID,CBDUPLIC,CBVASILH
0,93,10.033.052,35252,UN,92 PAR20 7W B/Q,LAMPADA PAR 20 7W 3500K,1,P,
1,355,10.020.022,11463,UN,VIOLINHA COLORIDA DE,VIOLINHA COLORIDA DE PLASTICO,2,P,
2,356,10.020.022,11464,UN,GUITARRINHA COLORIDA,GUITARRINHA COLORIDA DE PLASTICO,3,P,

# alterando o nome das colunas do dataframe

In [60]:
escodbar.rename({'CBCODBAR': 'EAN', 'CBCLASSI':'CLASSIFICAÇÃO', 'CBCODIGO': 'CODIGO', 'CBGRADE': 'GRADE', 'CBDESCRI':'DESCRIÇÃO', 'CBNOMANT':'OBSERVAÇÃO/DESCRIÇÃO RESUMIDA',
                    'CBID':'ID' , 'CBDUPLIC': 'DUPLICATAS', 'CBVASILH': 'VASILHAME'}, axis = 1, inplace= True)

## VISUALIZANDO DADOS DO DATAFRAME

In [103]:
escodbar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143045 entries, 0 to 143044
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   EAN                            143045 non-null  object
 1   CLASSIFICAÇÃO                  143045 non-null  object
 2   CODIGO                         143045 non-null  object
 3   GRADE                          143045 non-null  object
 4   DESCRIÇÃO                      143045 non-null  object
 5   OBSERVAÇÃO/DESCRIÇÃO RESUMIDA  143045 non-null  object
 6   ID                             143045 non-null  int64
 7   DUPLICATAS                     143045 non-null  object
 8   VASILHAME                      143045 non-null  object
dtypes: int64(1), object(8)
memory usage: 9.8+ MB

# convertendo dados do dataframe para os tipos corretos

In [43]:
escodbar['CODIGO'] = escodbar['CODIGO'].apply(lambda x: x.replace('.', ''))

In [44]:
escodbar['CODIGO'] = escodbar['CODIGO'].apply(np.int64)

ValueError: invalid literal for int() with base 10: ''

In [105]:
bancoFinal = pd.merge(estoq001_filtro, escodbar , on = 'CODIGO', how= 'inner')

# visualizando o banco de dados final

In [106]:
bancoFinal.head(25)

,CODIGO,DESCRICAO,GRADE_x,OBSERVAÇÃO/DESCRIÇÃO COMPLETA,CUSTO,VENDA,NCM,CFOP,CEST,SETOR,SUB-GRUPO,EAN,CLASSIFICAÇÃO,GRADE_y,DESCRIÇÃO,OBSERVAÇÃO/DESCRIÇÃO RESUMIDA,ID,DUPLICATAS,VASILHAME
0,1,TORQUES ARMADOR,UN,TORQUES ARMADOR,0.0,9.99,8203.20.10,5405,0800800,LEDS,LEDS/LED,7899842205871,10.033.052,UN,TORQUES ARMADOR,TORQUES ARMADOR,143505,R,
1,1,TORQUES ARMADOR,UN,TORQUES ARMADOR,0.0,9.99,8203.20.10,5405,0800800,LEDS,LEDS/LED,179874,10.033.052,UN,TORQUES ARMADOR,TORQUES ARMADOR,143530,R,
2,2,ACESSORIO VERAO,UN,ACESSORIO VERAO,0.0,0.00,8205.40.00,5102,,BIJUTERIAS,BIJUTERIA/ACESSORIOS VERAO,34454,10.019.022,UN,ACESSORIO VERAO,ACESSORIO VERAO,102751,R,
3,3,X 8EQUOT,UN,CHAVE DE FENDA 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/LED,7897373164162,10.033.052,UN,X 8EQUOT,CHAVE DE FENDA 1/4EQUOT,31437,T,
4,3,X 8EQUOT,UN,CHAVE DE FENDA 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/LED,34455,10.033.052,UN,X 8EQUOT,CHAVE DE FENDA 1/4EQUOT,102752,P,
5,4,CHAVE PHILLIPS 1/4,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.16,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,7897373164100,10.033.050,UN,X 5EQUOT,CHAVE PHILLIPS 1/4EQUOT,31434,T,
6,4,CHAVE PHILLIPS 1/4,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.16,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,34457,10.001.002,UN,CHAVE PHILLIPS 1/4,CHAVE PHILLIPS 1/4EQUOT,102754,P,
7,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,7897373164124,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,31435,T,
8,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,7890000012430,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,139840,T,
9,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,374316,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143532,T,
10,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,397254,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143539,T,
11,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,417518,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143560,T,
12,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,417693,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143563,T,
13,6,ESMERILHADEIRA ANG,UN,ESMERILHADEIRA ANGULAR 4.5 39,0.0,90.55,8464.20.90,5405,,LEDS,LEDS/FERRAMENTA,7896777923115,10.001.003,UN,ESMERILHADEIRA ANG,ESMERILHADEIRA ANGULAR 4.5 39,27088,T,
14,7,QUERIDAEQUOT,UN,PORTA TALHERES EQUOT,0.0,11.72,7323.99.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,7897807416447,10.049.063,UN,QUERIDAEQUOT,PORTA TALHERES EQUOT,32995,R,
15,7,QUERIDAEQUOT,UN,PORTA TALHERES EQUOT,0.0,11.72,7323.99.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,23064,10.049.063,UN,QUERIDAEQUOT,PORTA TALHERES EQUOT,94313,P,
16,8,CACAROLA C/TAMPA VDR,UN,CACAROLA C/ TPA VIDRO,1102.0,25.31,7615.10.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,7898607801020,10.049.063,UN,CACAROLA C/TAMPA VDR,CACAROLA C/ TPA VIDRO,44627,T,
17,8,CACAROLA C/TAMPA VDR,UN,CACAROLA C/ TPA VIDRO,1102.0,25.31,7615.10.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,35083,10.049.063,UN,CACAROLA C/TAMPA VDR,CACAROLA C/ TPA VIDRO,103409,P,
18,9,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,6.71,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,7897240503384,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,30231,R,
19,9,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,6.71,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,27044,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,91928,P,
20,10,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,8.49,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,7897240501007,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,30229,R,
21,10,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,8.49,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,27038,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,91930,T,
22,11,ACESSORIOS,UN,ACUCAREIRO EAMP,0.0,4.96,3506.99.00,5405,,CONVENIENCIA,CONVENIENCIA/ELETRONICOS,7896743804905,10.023.030,UN,ACESSORIOS,ACUCAREIRO EAMP,26671,T,
23,11,ACESSORIOS,UN,ACUCAREIRO EAMP,0.0,4.96,3506.99.00,5405,,CONVENIENCIA,CONVENIENCIA/ELETRONICOS,33917,10.023.030,UN,ACESSORIOS,ACUCAREIRO EAMP,102175,T,
24,12,CHAVE BIELA TIPO 11,UN,CHAVE BIELA TIPO,0.0,3.93,8204.11.00,5405,,LEDS,LEDS,7898592755902,10.033.050,UN,CHAVE BIELA TIPO 11,CHAVE BIELA TIPO,44107,R,

In [107]:
query= bancoFinal

In [108]:
query.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168827 entries, 0 to 168826
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CODIGO                         168827 non-null  object
 1   DESCRICAO                      168827 non-null  object
 2   GRADE_x                        168827 non-null  object
 3   OBSERVAÇÃO/DESCRIÇÃO COMPLETA  168827 non-null  object
 4   CUSTO                          168827 non-null  float64
 5   VENDA                          168827 non-null  float64
 6   NCM                            168827 non-null  object
 7   CFOP                           168827 non-null  object
 8   CEST                           168827 non-null  object
 9   SETOR                          168827 non-null  object
 10  SUB-GRUPO                      168827 non-null  object
 11  EAN                            168827 non-null  object
 12  CLASSIFICAÇÃO                  168827 non-null  object
 13  GRADE_y                        168827 non-null  object
 14  DESCRIÇÃO                      168827 non-null  object
 15  OBSERVAÇÃO/DESCRIÇÃO RESUMIDA  168827 non-null  object
 16  ID                             168827 non-null  int64
 17  DUPLICATAS                     168827 non-null  object
 18  VASILHAME                      168827 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 25.8+ MB

In [116]:
query['VENDA'] = query['VENDA'].apply(str)

In [118]:
selection = query['VENDA'].str.contains('.49', regex=True)
valores49 = query[selection]

In [65]:
bancoFinal.shape

(168827, 19)

In [122]:
valores49['VENDA'] = valores49['VENDA'].apply(float)

C:\Users\murillo\AppData\Local\Temp\ipykernel_5924\3677157388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valores49['VENDA'] = valores49['VENDA'].apply(float)

In [124]:
valores49.head()

,CODIGO,DESCRICAO,GRADE_x,OBSERVAÇÃO/DESCRIÇÃO COMPLETA,CUSTO,VENDA,NCM,CFOP,CEST,SETOR,SUB-GRUPO,EAN,CLASSIFICAÇÃO,GRADE_y,DESCRIÇÃO,OBSERVAÇÃO/DESCRIÇÃO RESUMIDA,ID,DUPLICATAS,VASILHAME
20,10,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.00,8.49,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,7897240501007,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,30229,R,
21,10,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.00,8.49,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,27038,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,91930,T,
87,45,JOGO DE LUVA CASU,UN,JOGO DE LUVA CASUAL,9.14,17.49,3506.99.00,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,7899259698259,10.019.014,UN,JOGO DE LUVA CASU,JOGO DE LUVA CASUAL,53367,T,
88,45,JOGO DE LUVA CASU,UN,JOGO DE LUVA CASUAL,9.14,17.49,3506.99.00,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,12884,10.019.014,UN,JOGO DE LUVA CASU,JOGO DE LUVA CASUAL,86074,P,
99,51,KIT MEIAS,UN,KIT MEIAS SORTIDAS,6.57,11.49,6115.10.22,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,7891290544823,10.019.014,UN,KIT MEIAS,KIT MEIAS SORTIDAS,13084,P,

In [129]:
selection = valores49['VENDA'] > 10.00
valores49 = valores49[selection]

In [131]:
valores49

,CODIGO,DESCRICAO,GRADE_x,OBSERVAÇÃO/DESCRIÇÃO COMPLETA,CUSTO,VENDA,NCM,CFOP,CEST,SETOR,SUB-GRUPO,EAN,CLASSIFICAÇÃO,GRADE_y,DESCRIÇÃO,OBSERVAÇÃO/DESCRIÇÃO RESUMIDA,ID,DUPLICATAS,VASILHAME
87,45,JOGO DE LUVA CASU,UN,JOGO DE LUVA CASUAL,9.14,17.49,3506.99.00,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,7899259698259,10.019.014,UN,JOGO DE LUVA CASU,JOGO DE LUVA CASUAL,53367,T,
88,45,JOGO DE LUVA CASU,UN,JOGO DE LUVA CASUAL,9.14,17.49,3506.99.00,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,12884,10.019.014,UN,JOGO DE LUVA CASU,JOGO DE LUVA CASUAL,86074,P,
99,51,KIT MEIAS,UN,KIT MEIAS SORTIDAS,6.57,11.49,6115.10.22,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,7891290544823,10.019.014,UN,KIT MEIAS,KIT MEIAS SORTIDAS,13084,P,
100,51,KIT MEIAS,UN,KIT MEIAS SORTIDAS,6.57,11.49,6115.10.22,5102,,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,14630,10.019.014,UN,KIT MEIAS,KIT MEIAS SORTIDAS,86777,P,
158,81,SHAKEIRA CANDY,UN,SHAKEIRA CANDY CRUSH PLASUTIL,6.13,13.49,3924.10.00,5102,1400600,BIJUTERIAS,BIJUTERIAS/ACESS FRIO,7896042064239,10.019.014,UN,SHAKEIRA CANDY,SHAKEIRA CANDY CRUSH PLASUTIL,21019,T,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167674,90938,APONTADOR CROC CROC,UN,APONTADOR CROC CROC TWIST 2 FUROS DISPLAY,6.30,11.49,8214.10.00,5102,2005300,PAPELARIA,PAPELARIA/PAPELARIA,3154140184117,10.040.057,UN,APONTADOR CROC CROC,APONTADOR CROC CROC TWIST 2 FUROS DISPLA,153992,R,
167715,90979,LIXEIRA C/ PEDAL INO,UN,LIXEIRA C/ PEDAL INOX 12 LITROS - CM4,79.44,149.99,7323.93.00,5102,1005900,UTILIDADES,UTILIDADES/UTILIDADES,7908486103594,10.050.068,UN,LIXEIRA C/ PEDAL INO,LIXEIRA C/ PEDAL INOX 12 LITROS - CM4,154033,R,
167911,91132,MOCHILA C/ CARRINHO,UN,MOCHILA COM CARRINHO LM2050K,46.98,149.99,4202.92.00,6102,1900400,PAPELARIA,PAPELARIA/PAPELARIA,7899753539119,10.040.057,UN,MOCHILA C/ CARRINHO,MOCHILA COM CARRINHO LM2050K,154230,R,
168174,91238,BASE LIQUIDA LUMINO\r,UN,BASE LIQUIDA LUMINOUS FENZZA MAKE\r,8.71,17.49,3304.99.90,5102,2001500,BIJUTERIAS,BIJUTERIAS/MAQUIAGEM,7899360260437,10.019.020,UN,BASE LIQUIDA LUMINO\r,BASE LIQUIDA LUMINOUS FENZZA MAKE\r,154401,R,
168758,91630,TELA CANVA,UN,TELA CANVA,72.08,149.99,4414.10.00,5102,,DECORACAO,DECORACAO/DECORACAO,7890000018906,10.024.033,UN,TELA CANVA,TELA CANVA,154874,R,

In [133]:
valores49.to_excel('produtos com valores de venda ,49.xlsx', sheet_name = 'sheet1', index = False)

In [137]:
query['VENDA'] = query['VENDA'].apply(float)

In [138]:
query.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168827 entries, 0 to 168826
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CODIGO                         168827 non-null  object
 1   DESCRICAO                      168827 non-null  object
 2   GRADE_x                        168827 non-null  object
 3   OBSERVAÇÃO/DESCRIÇÃO COMPLETA  168827 non-null  object
 4   CUSTO                          168827 non-null  float64
 5   VENDA                          168827 non-null  float64
 6   NCM                            168827 non-null  object
 7   CFOP                           168827 non-null  object
 8   CEST                           168827 non-null  object
 9   SETOR                          168827 non-null  object
 10  SUB-GRUPO                      168827 non-null  object
 11  EAN                            168827 non-null  object
 12  CLASSIFICAÇÃO                  168827 non-null  object
 13  GRADE_y                        168827 non-null  object
 14  DESCRIÇÃO                      168827 non-null  object
 15  OBSERVAÇÃO/DESCRIÇÃO RESUMIDA  168827 non-null  object
 16  ID                             168827 non-null  int64
 17  DUPLICATAS                     168827 non-null  object
 18  VASILHAME                      168827 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 25.8+ MB

In [151]:
valores = [
7898684811301,
7898505948414,
7897064411841,
7897064411834,
7898684811332,
7908148590373,
7891100045069,
7898008425986,
277761,
7898008427843,
7899527153060,
7908148590359,
281423,
7898545625528,
7908148511644,
7899790933666,
6200000151793,
7896264701035,
7896264770109,
7908076229208,
7908076229185,
230391,
7898543246107,
230421,
230223,
230230,
230353,
7898545324421,
230346,
7898545324964,
230254,
7896264701059,
7896264761008,
7898008427911,
7898643583553,
7898643581207,
7898643581382,
7898209567782,
7898209567751,
7898643585472,
7898396000604,
7898541953205,
7898543141105,
7898542019016,
7898543141112,
7898543141075,
7898545100032,
7898544146307,
7898545690045,
7898542019078,
7898541212067,
7898541114002,
7898545100018,
7898545100070,
7898545100025,
7899670808169,
7898542019092,
7898542019030,
7898542019054,
7898541114026,
7898542019061,
7898542019047,
7899527109197,
7896554413587,
7896554413587,
7896554411279,
7896554411606,
7896554413587,
7896554411255,
7890002025322,
7890002025308,
7898953747188,
7896020630050,
7898953747164,
32081,
7898953747089,
7897064410165,
7898008425986,
7899527153060,
6200000151793,
7908399124112,
7898505948414,
7898505948421,
7908148511644,
7908148590373,
7908148590366,
7908148590359,
7891100045069,
7899670810131,
7898008427843,
7896484180139,
7899790933659,
7899790933666,
7898684811301,
7897064411841,
7898545625528,
]

In [141]:
query['EAN'] = query['EAN'].apply(np.int64)

In [152]:
query['filtro'] = query['EAN'].apply(lambda x: True if x in valores else False)

In [153]:
list(query['filtro'].drop_duplicates())

[False, True]

In [154]:
selection = query['filtro'] == True
valores_finais = query[selection]

In [155]:
colunas = ['CODIGO', 'EAN', 'DESCRICAO', 'CUSTO', 'VENDA']

In [156]:
valores_finais = valores_finais[colunas]

In [157]:
valores_finais.to_excel('queima de estoque.xlsx', index= False)

In [158]:
sql = pd.read_json('maindata_nfedatainformations.json')

C:\Users\murillo\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

In [161]:
sql.head(3)

,id,reference,ean,eantributed,description,amount,realcost,costcalculate,unitvalue,totalvalue,...,coffinsvalue,aliqfrete,fretevalue,nfenum,fornecedor,cnpjforn,lojaentrada,cnpjlojaentrada,keynfe,frete_values
0,300200001417896058500711AMENDOIM 70G CONF COLO...,3002000014,17896058500711,7896058500714,AMENDOIM 70G CONF COLORIDO DORI (CX 30UN)(FD10...,2.0,56.99,56.99,56.99,113.98,...,7.10,0,0,267167,JJGG-DISTRIBUIDORA ASSIS ALIMENTOS LTDA,9553327000165,CASA DA MAMAE LOJA DE DEP VAR ATAC EIRELI,34408066000137,3.522121e+43,0.0
1,35010024167891151040693B PIRUL POP MANIA MAXXI...,3501002416,7891151040693,17891151040690,B PIRUL POP MANIA MAXXI LUCCAS NETO,1.0,12.69,12.69,12.69,12.69,...,0.79,0,0,267167,JJGG-DISTRIBUIDORA ASSIS ALIMENTOS LTDA,9553327000165,CASA DA MAMAE LOJA DE DEP VAR ATAC EIRELI,34408066000137,3.522121e+43,0.0
2,35010024117891151040983B PIRUL POP MANIA MAXXI...,3501002411,7891151040983,7891151040983,B PIRUL POP MANIA MAXXI MELANC 24UN,2.0,12.69,12.69,12.69,25.38,...,1.58,0,0,267167,JJGG-DISTRIBUIDORA ASSIS ALIMENTOS LTDA,9553327000165,CASA DA MAMAE LOJA DE DEP VAR ATAC EIRELI,34408066000137,3.522121e+43,0.0

In [166]:
for i in sql:
    print(i[0])

i
r
e
e
d
a
r
c
u
t
t
c
n
c
i
a
i
a
i
i
a
i
i
a
p
a
c
a
f
n
f
c
l
c
k
f

In [167]:
sql = sql.values.tolist()
conn = psycopg2.connect(host='localhost', user='postgres',password= 'henrique',database = 'maindata',port= '5432')
cursor= conn.cursor()
for i in sql:
    cursor.execute('''INSERT INTO nfedatainformations( id,reference, ean, eantributed, description, amount,realcost, costcalculate, unitvalue, totalvalue,
                        tipe, cfop, ncm, cst, icmsbase, aliqicms, icmsvalue, aliqipi, ipivalue, ivamvavalue, aliqicmst,
                        icmstbase, icmstvalue, aliqpis, pisvalue, aliqcoffins, coffinsvalue, aliqfrete ,fretevalue, nfenum, fornecedor, cnpjforn, lojaentrada, cnpjlojaentrada, keynfe, frete_value) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)''', 
                        (i[0],i[1], i[2],i[3], i[4], i[5], i[6], i[7], i[8], i[9], i[10], i[11], i[12], i[13], i[14], i[15], i[16], i[17], i[18], i[19], i[20], i[21], i[22], i[23], i[24], i[25], i[26], i[27],i[28],i[29],i[30],i[31], i[32] , i[33], i[34], i[35]))
    conn.commit()