In [1]:
import pandas as pd
import numpy as np 
from dbfread import DBF
import psycopg2

# Colunas de dados necessario para criar o banco de dados INNOVARO

## colunas:

1- Código <br>
2- Nome <br>
3- classe <br>
4- Classificação fiscal <br>
5- UN <br>
6- Procedência <br>
7- Fabricante <br>
8- Referência fabricante <br>
9- Marca <br>
10- Modelo <br>
11- Coleção/Família <br>
12- Cor <br>
13- Tamanho <br>
14- Quantidade P/Volume <br>
15- Quantidade P/Vol Compra <br>
16- Data em que o produto saiu de linha <br>
17- Informador <br>
18- Data em que o produto tornou-se inativo <br>
19- inativador <br>
20- Material <br>
21- Referência principal <br>
22- Descriçao Genérica <br>
23- Cest <br>
24- Tipo de Medicamento <br>
25- Outras Caracteristicas <br>
26- Validade(meses)

## upload SDB Principal

In [2]:
estoq001 = DBF('ESTOQ001.dbf', encoding='latin1')
estoq001 = pd.DataFrame(estoq001)

## visualização do banco de dados

In [3]:
estoq001.head(3)

,TQCLASSI,TQCODIGO,TQGRADE,TQDESCRI,TQCODBAR,TQEMBENT,TQENTQTD,TQEMBSAI,TQSAIQTD,TQQTDMAX,...,TQIDPROM,TQQTDPRO,TQVALPRO,TQRASTRO,TQOPERAD,TQULTPRE,TQMARCA,TQBENEFI,TQDESONE,TQALIFCP
0,10.033.052,1,UN,TORQUES ARMADOR,,UN,1,UN,1,0,...,0,0.0,0.0,,37,11.16,,,,0.0
1,10.019.022,2,UN,ACESSORIO VERAO,,UN,1,UN,1,0,...,0,0.0,0.0,,37,5.16,,,,0.0
2,10.033.052,3,UN,X 8EQUOT,,UN,1,UN,1,0,...,0,0.0,0.0,,37,0.00,,,,0.0

## identificação de informações das colunas do dataframe

In [4]:
estoq001.info(verbose = True, show_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86475 entries, 0 to 86474
Data columns (total 102 columns):
 #    Column     Non-Null Count  Dtype
---   ------     --------------  -----
 0    TQCLASSI   86475 non-null  object
 1    TQCODIGO   86475 non-null  object
 2    TQGRADE    86475 non-null  object
 3    TQDESCRI   86475 non-null  object
 4    TQCODBAR   86475 non-null  object
 5    TQEMBENT   86475 non-null  object
 6    TQENTQTD   86475 non-null  int64
 7    TQEMBSAI   86475 non-null  object
 8    TQSAIQTD   86475 non-null  int64
 9    TQQTDMAX   86475 non-null  int64
 10   TQQTDMIN   86475 non-null  int64
 11   TQSALDO    85689 non-null  float64
 12   TQULTENT   8417 non-null   object
 13   TQULTSAI   27694 non-null  object
 14   TQPREVIS   0 non-null      object
 15   TQPRECUS   86475 non-null  float64
 16   TQPREVEN   86475 non-null  float64
 17   TQSUBSTI   86475 non-null  float64
 18   TQTRIBUT   86475 non-null  object
 19   TQALIQUO   86475 non-null  object
 20   TQALIICM   86475 non-null  float64
 21   TQIPV      86475 non-null  object
 22   TQOBSERV   86475 non-null  object
 23   TQOBSERV1  86475 non-null  object
 24   TQALTERA   86475 non-null  object
 25   TQLUCRO    86475 non-null  float64
 26   TQPREOFE   86475 non-null  float64
 27   TQPREBAS   86475 non-null  float64
 28   TQATIVO    86475 non-null  object
 29   TQETIQUE   86475 non-null  object
 30   TQPREALT   86024 non-null  float64
 31   TQDATCAD   18343 non-null  object
 32   TQDATALT   86475 non-null  object
 33   TQCOMISS   86475 non-null  float64
 34   TQVASILH   86475 non-null  object
 35   TQVASEAN   86475 non-null  object
 36   TQCODANT   86475 non-null  object
 37   TQCODPEN   86475 non-null  float64
 38   TQCOMBUS   86475 non-null  object
 39   TQSETOR    86475 non-null  object
 40   TQIPI      86475 non-null  object
 41   TQTRANSF   86475 non-null  object
 42   TQVALIDA   86475 non-null  object
 43   TQPREGAS   86475 non-null  float64
 44   TQVALOFE   0 non-null      object
 45   TQDESCRO   86475 non-null  object
 46   TQFATOR    86475 non-null  int64
 47   TQPIS      86475 non-null  float64
 48   TQCOFINS   86475 non-null  float64
 49   TQIVA      86475 non-null  float64
 50   TQCFOP     86475 non-null  object
 51   TQNCM      86475 non-null  object
 52   TQCSTALT   86475 non-null  object
 53   TQREDUST   86475 non-null  float64
 54   TQPREREV   86475 non-null  float64
 55   TQLUCROA   86475 non-null  float64
 56   TQCSTPIS   86475 non-null  object
 57   TQCSTCOF   86475 non-null  object
 58   TQCODANP   86475 non-null  object
 59   TQALIIPI   86475 non-null  float64
 60   TQINVEN    86475 non-null  float64
 61   TQCSOSN    86475 non-null  object
 62   TQFOTOS    86475 non-null  object
 63   TQCFOPE    86475 non-null  object
 64   TQCEST     86475 non-null  object
 65   TQCSTPIE   86475 non-null  object
 66   TQCSTCOE   86475 non-null  object
 67   TQNATISE   86475 non-null  object
 68   TQNOMANT   86475 non-null  object
 69   TQOUTRAS   84658 non-null  float64
 70   TQHORALT   86475 non-null  object
 71   TQSTATUS   86475 non-null  object
 72   TQID       86475 non-null  int64
 73   TQDESANP   86475 non-null  object
 74   TQGRUPO    86475 non-null  object
 75   TQSGRUPO   86475 non-null  object
 76   TQPRINT    86475 non-null  object
 77   TQLOCAL    86475 non-null  object
 78   TQREDPIS   86475 non-null  object
 79   TQCOMBO    86475 non-null  object
 80   TQCOMPDV   86475 non-null  object
 81   TQIDTB     86475 non-null  int64
 82   TQCARGA    86475 non-null  object
 83   TQREGESP   86475 non-null  object
 84   TQMODBC    86475 non-null  object
 85   TQMODBCST  86475 non-null  object
 86   TQDUPLIC   86475 non-null  object
 87   TQFCP      84658 non-null  float64
 88   TQCOMATU   86475 non-null  object
 89   TQPROSER   86475 non-null  object
 90   TQALIPDV   86475 non-null  float64
 91   TQCUSMED   85187 non-null  float64
 92   TQIDPROM   86475 non-null  int64
 93   TQQTDPRO   86475 non-null  float64
 94   TQVALPRO   86475 non-null  float64
 95   TQRASTRO   86475 non-null  object
 96   TQOPERAD   86475 non-null  object
 97   TQULTPRE   85402 non-null  float64
 98   TQMARCA    86475 non-null  object
 99   TQBENEFI   86475 non-null  object
 100  TQDESONE   86475 non-null  object
 101  TQALIFCP   86475 non-null  float64
dtypes: float64(28), int64(8), object(66)
memory usage: 67.3+ MB

## seleção de colunas para o banco de dados do INNOVARO 

deverá ser inserido apenas as colunas que queremos visualizar no banco de dados do Prosuper

In [5]:
colunas = ['TQCODIGO', 'TQDESCRI', 'TQGRADE', 'TQOBSERV', 'TQPRECUS', 'TQPREVEN', 'TQNCM', 'TQCFOP', 'TQCEST', 'TQGRUPO', 'TQSGRUPO']

## filtrando as colunas no banco de dados

In [6]:
estoq001_filtro = estoq001[colunas]

In [7]:
estoq001_filtro

,TQCODIGO,TQDESCRI,TQGRADE,TQOBSERV,TQPRECUS,TQPREVEN,TQNCM,TQCFOP,TQCEST,TQGRUPO,TQSGRUPO
0,1,TORQUES ARMADOR,UN,TORQUES ARMADOR,0.000,9.99,8203.20.10,5405,0800800,LEDS,LEDS/LED
1,2,ACESSORIO VERAO,UN,ACESSORIO VERAO,0.000,0.00,8205.40.00,5102,,BIJUTERIAS,BIJUTERIA/ACESSORIOS VERAO
2,3,X 8EQUOT,UN,CHAVE DE FENDA 1/4EQUOT,0.000,5.80,8205.40.00,5405,,LEDS,LEDS/LED
3,4,CHAVE PHILLIPS 1/4,UN,CHAVE PHILLIPS 1/4EQUOT,0.000,5.16,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA
4,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.000,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA
...,...,...,...,...,...,...,...,...,...,...,...
86470,91691,TELA PARA PINTURA,UN,TELA PARA PINTURA 20X20,1.136,0.00,4414.10.00,5102,,PAPELARIA,PAPELARIA/PAPELARIA
86471,91692,TELA PARA PINTURA,UN,TELA PARA PINTURA 24X30,1.563,0.00,4414.10.00,5102,,PAPELARIA,PAPELARIA/PAPELARIA
86472,91693,TELA PARA PINTURA,UN,TELA PARA PINTURA,2.160,0.00,4414.10.00,5102,,PAPELARIA,PAPELARIA/PAPELARIA
86473,91694,KINDER OVO JOY,UN,CHOC KINDER OVO JOY,0.000,0.00,1806.90.00,5102,1700400,CONVENIENCIA,CONVENIENCIA/ALIMENTOS
86474,91695,BALA MAST DUO,UN,BALA MAST DUO,0.000,0.00,1806.90.00,5102,1700400,CONVENIENCIA,CONVENIENCIA/ALIMENTOS

## identificando valores do dataframe estoq001_filtro

In [8]:
estoq001_filtro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86475 entries, 0 to 86474
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TQCODIGO  86475 non-null  object
 1   TQDESCRI  86475 non-null  object
 2   TQGRADE   86475 non-null  object
 3   TQOBSERV  86475 non-null  object
 4   TQPRECUS  86475 non-null  float64
 5   TQPREVEN  86475 non-null  float64
 6   TQNCM     86475 non-null  object
 7   TQCFOP    86475 non-null  object
 8   TQCEST    86475 non-null  object
 9   TQGRUPO   86475 non-null  object
 10  TQSGRUPO  86475 non-null  object
dtypes: float64(2), object(9)
memory usage: 7.3+ MB

## renomeando colunas do dataframe

In [9]:
estoq001_filtro.rename({'TQCODIGO':'CODIGO', 'TQDESCRI':'DESCRICAO', 'TQGRADE' : 'GRADE', 'TQOBSERV':'OBSERVAÇÃO/DESCRIÇÃO COMPLETA', 'TQPRECUS':'CUSTO', 'TQPREVEN':'VENDA', 'TQNCM':'NCM', 'TQCFOP': 'CFOP',
                           'TQCEST':'CEST', 'TQGRUPO':'SETOR', 'TQSGRUPO': 'SUB-GRUPO'}, axis = 1 , inplace = True)

C:\Users\murillo\AppData\Local\Temp\ipykernel_10500\194538697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estoq001_filtro.rename({'TQCODIGO':'CODIGO', 'TQDESCRI':'DESCRICAO', 'TQGRADE' : 'GRADE', 'TQOBSERV':'OBSERVAÇÃO/DESCRIÇÃO COMPLETA', 'TQPRECUS':'CUSTO', 'TQPREVEN':'VENDA', 'TQNCM':'NCM', 'TQCFOP': 'CFOP',

# UPLOAD BANCO DE DADOS COM CODIGOS DE BARRAS

In [11]:
escodbar = DBF('ESCODBAR.dbf', encoding= 'latin1')
escodbar = pd.DataFrame(escodbar)

## visualizando o dataframe de codigos de barras

In [12]:
escodbar.head(3)

,CBCODBAR,CBCLASSI,CBCODIGO,CBGRADE,CBDESCRI,CBNOMANT,CBID,CBDUPLIC,CBVASILH
0,93,10.033.052,35252,UN,92 PAR20 7W B/Q,LAMPADA PAR 20 7W 3500K,1,P,
1,355,10.020.022,11463,UN,VIOLINHA COLORIDA DE,VIOLINHA COLORIDA DE PLASTICO,2,P,
2,356,10.020.022,11464,UN,GUITARRINHA COLORIDA,GUITARRINHA COLORIDA DE PLASTICO,3,P,

# alterando o nome das colunas do dataframe

In [13]:
escodbar.rename({'CBCODBAR': 'EAN', 'CBCLASSI':'CLASSIFICAÇÃO', 'CBCODIGO': 'CODIGO', 'CBGRADE': 'GRADE', 'CBDESCRI':'DESCRIÇÃO', 'CBNOMANT':'OBSERVAÇÃO/DESCRIÇÃO RESUMIDA',
                    'CBID':'ID' , 'CBDUPLIC': 'DUPLICATAS', 'CBVASILH': 'VASILHAME'}, axis = 1, inplace= True)

## VISUALIZANDO DADOS DO DATAFRAME

In [14]:
escodbar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143045 entries, 0 to 143044
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   EAN                            143045 non-null  object
 1   CLASSIFICAÇÃO                  143045 non-null  object
 2   CODIGO                         143045 non-null  object
 3   GRADE                          143045 non-null  object
 4   DESCRIÇÃO                      143045 non-null  object
 5   OBSERVAÇÃO/DESCRIÇÃO RESUMIDA  143045 non-null  object
 6   ID                             143045 non-null  int64
 7   DUPLICATAS                     143045 non-null  object
 8   VASILHAME                      143045 non-null  object
dtypes: int64(1), object(8)
memory usage: 9.8+ MB

# juntando dados finais

In [15]:
bancoFinal = pd.merge(estoq001_filtro, escodbar , on = 'CODIGO', how= 'inner')

# visualizando o banco de dados final

In [16]:
bancoFinal.head(25)

,CODIGO,DESCRICAO,GRADE_x,OBSERVAÇÃO/DESCRIÇÃO COMPLETA,CUSTO,VENDA,NCM,CFOP,CEST,SETOR,SUB-GRUPO,EAN,CLASSIFICAÇÃO,GRADE_y,DESCRIÇÃO,OBSERVAÇÃO/DESCRIÇÃO RESUMIDA,ID,DUPLICATAS,VASILHAME
0,1,TORQUES ARMADOR,UN,TORQUES ARMADOR,0.0,9.99,8203.20.10,5405,0800800,LEDS,LEDS/LED,7899842205871,10.033.052,UN,TORQUES ARMADOR,TORQUES ARMADOR,143505,R,
1,1,TORQUES ARMADOR,UN,TORQUES ARMADOR,0.0,9.99,8203.20.10,5405,0800800,LEDS,LEDS/LED,179874,10.033.052,UN,TORQUES ARMADOR,TORQUES ARMADOR,143530,R,
2,2,ACESSORIO VERAO,UN,ACESSORIO VERAO,0.0,0.00,8205.40.00,5102,,BIJUTERIAS,BIJUTERIA/ACESSORIOS VERAO,34454,10.019.022,UN,ACESSORIO VERAO,ACESSORIO VERAO,102751,R,
3,3,X 8EQUOT,UN,CHAVE DE FENDA 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/LED,7897373164162,10.033.052,UN,X 8EQUOT,CHAVE DE FENDA 1/4EQUOT,31437,T,
4,3,X 8EQUOT,UN,CHAVE DE FENDA 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/LED,34455,10.033.052,UN,X 8EQUOT,CHAVE DE FENDA 1/4EQUOT,102752,P,
5,4,CHAVE PHILLIPS 1/4,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.16,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,7897373164100,10.033.050,UN,X 5EQUOT,CHAVE PHILLIPS 1/4EQUOT,31434,T,
6,4,CHAVE PHILLIPS 1/4,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.16,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,34457,10.001.002,UN,CHAVE PHILLIPS 1/4,CHAVE PHILLIPS 1/4EQUOT,102754,P,
7,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,7897373164124,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,31435,T,
8,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,7890000012430,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,139840,T,
9,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,374316,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143532,T,
10,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,397254,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143539,T,
11,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,417518,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143560,T,
12,5,X 8EQUOT,UN,CHAVE PHILLIPS 1/4EQUOT,0.0,5.80,8205.40.00,5405,,LEDS,LEDS/FERRAMENTA,417693,10.033.050,UN,X 8EQUOT,CHAVE PHILLIPS 1/4EQUOT,143563,T,
13,6,ESMERILHADEIRA ANG,UN,ESMERILHADEIRA ANGULAR 4.5 39,0.0,90.55,8464.20.90,5405,,LEDS,LEDS/FERRAMENTA,7896777923115,10.001.003,UN,ESMERILHADEIRA ANG,ESMERILHADEIRA ANGULAR 4.5 39,27088,T,
14,7,QUERIDAEQUOT,UN,PORTA TALHERES EQUOT,0.0,11.72,7323.99.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,7897807416447,10.049.063,UN,QUERIDAEQUOT,PORTA TALHERES EQUOT,32995,R,
15,7,QUERIDAEQUOT,UN,PORTA TALHERES EQUOT,0.0,11.72,7323.99.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,23064,10.049.063,UN,QUERIDAEQUOT,PORTA TALHERES EQUOT,94313,P,
16,8,CACAROLA C/TAMPA VDR,UN,CACAROLA C/ TPA VIDRO,1102.0,25.31,7615.10.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,7898607801020,10.049.063,UN,CACAROLA C/TAMPA VDR,CACAROLA C/ TPA VIDRO,44627,T,
17,8,CACAROLA C/TAMPA VDR,UN,CACAROLA C/ TPA VIDRO,1102.0,25.31,7615.10.00,5405,,UTENSILIOS,UTENSILIOS/UTENSILIOS,35083,10.049.063,UN,CACAROLA C/TAMPA VDR,CACAROLA C/ TPA VIDRO,103409,P,
18,9,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,6.71,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,7897240503384,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,30231,R,
19,9,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,6.71,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,27044,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,91928,P,
20,10,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,8.49,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,7897240501007,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,30229,R,
21,10,PARATY FACA COZINHA,UN,PARATY FACA COZINHA,0.0,8.49,8211.91.00,5405,,UTENSILIOS,UTENSILIOS/COZINHA,27038,10.049.062,UN,PARATY FACA COZINHA,PARATY FACA COZINHA,91930,T,
22,11,ACESSORIOS,UN,ACUCAREIRO EAMP,0.0,4.96,3506.99.00,5405,,CONVENIENCIA,CONVENIENCIA/ELETRONICOS,7896743804905,10.023.030,UN,ACESSORIOS,ACUCAREIRO EAMP,26671,T,
23,11,ACESSORIOS,UN,ACUCAREIRO EAMP,0.0,4.96,3506.99.00,5405,,CONVENIENCIA,CONVENIENCIA/ELETRONICOS,33917,10.023.030,UN,ACESSORIOS,ACUCAREIRO EAMP,102175,T,
24,12,CHAVE BIELA TIPO 11,UN,CHAVE BIELA TIPO,0.0,3.93,8204.11.00,5405,,LEDS,LEDS,7898592755902,10.033.050,UN,CHAVE BIELA TIPO 11,CHAVE BIELA TIPO,44107,R,

In [17]:
bancoFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168827 entries, 0 to 168826
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CODIGO                         168827 non-null  object
 1   DESCRICAO                      168827 non-null  object
 2   GRADE_x                        168827 non-null  object
 3   OBSERVAÇÃO/DESCRIÇÃO COMPLETA  168827 non-null  object
 4   CUSTO                          168827 non-null  float64
 5   VENDA                          168827 non-null  float64
 6   NCM                            168827 non-null  object
 7   CFOP                           168827 non-null  object
 8   CEST                           168827 non-null  object
 9   SETOR                          168827 non-null  object
 10  SUB-GRUPO                      168827 non-null  object
 11  EAN                            168827 non-null  object
 12  CLASSIFICAÇÃO                  168827 non-null  object
 13  GRADE_y                        168827 non-null  object
 14  DESCRIÇÃO                      168827 non-null  object
 15  OBSERVAÇÃO/DESCRIÇÃO RESUMIDA  168827 non-null  object
 16  ID                             168827 non-null  int64
 17  DUPLICATAS                     168827 non-null  object
 18  VASILHAME                      168827 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 25.8+ MB

In [19]:
artsystem = pd.read_json('sdb/maindata_sdbartsystem.json')
cdm = pd.read_json('sdb/maindata_nfedatainformations.json')

C:\Users\murillo\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

In [23]:
artsystem.head(3)

,plu,descriptions,ncm,ean,department,cost,cost_and_taxes,sale,suppliers_code,suppliers
0,375412,PANTUFA INFANTIL FEMININA,64041900,537298512071,BIJUTERIASACESS FRIO,22.6122,22.6122,44.99,TX1207AV,
1,375429,PANTUFA INFANTIL FEMININA,64041900,537298712778,BIJUTERIASACESS FRIO,25.3422,25.3422,50.49,TX1277CH,
2,375498,PANTUFA INFANTIL FEMININA,64041900,537298712075,BIJUTERIASACESS FRIO,21.1302,21.1302,42.49,TX1207GA,

In [24]:
cdm.head(3)

,id,reference,ean,eantributed,description,amount,realcost,costcalculate,unitvalue,totalvalue,...,coffinsvalue,aliqfrete,fretevalue,nfenum,fornecedor,cnpjforn,lojaentrada,cnpjlojaentrada,keynfe,frete_values
0,300200001417896058500711AMENDOIM 70G CONF COLO...,3002000014,17896058500711,7896058500714,AMENDOIM 70G CONF COLORIDO DORI (CX 30UN)(FD10...,2.0,56.99,56.99,56.99,113.98,...,7.10,0,0,267167,JJGG-DISTRIBUIDORA ASSIS ALIMENTOS LTDA,9553327000165,CASA DA MAMAE LOJA DE DEP VAR ATAC EIRELI,34408066000137,3.522121e+43,0.0
1,35010024167891151040693B PIRUL POP MANIA MAXXI...,3501002416,7891151040693,17891151040690,B PIRUL POP MANIA MAXXI LUCCAS NETO,1.0,12.69,12.69,12.69,12.69,...,0.79,0,0,267167,JJGG-DISTRIBUIDORA ASSIS ALIMENTOS LTDA,9553327000165,CASA DA MAMAE LOJA DE DEP VAR ATAC EIRELI,34408066000137,3.522121e+43,0.0
2,35010024117891151040983B PIRUL POP MANIA MAXXI...,3501002411,7891151040983,7891151040983,B PIRUL POP MANIA MAXXI MELANC 24UN,2.0,12.69,12.69,12.69,25.38,...,1.58,0,0,267167,JJGG-DISTRIBUIDORA ASSIS ALIMENTOS LTDA,9553327000165,CASA DA MAMAE LOJA DE DEP VAR ATAC EIRELI,34408066000137,3.522121e+43,0.0

In [50]:
plu = []
for n in artsystem['plu']:
    plu.append(n)
plu

[375412,
 375429,
 375498,
 121071,
 35080,
 114417,
 110433,
 110440,
 306249,
 103350,
 33666,
 32484,
 399760,
 20593,
 297271,
 297288,
 169172,
 169189,
 169196,
 185134,
 109598,
 135894,
 109505,
 109574,
 458917,
 185141,
 109628,
 109611,
 135887,
 135818,
 135825,
 109581,
 109512,
 109604,
 129121,
 135795,
 136013,
 136020,
 135924,
 135931,
 135948,
 135979,
 135986,
 135993,
 135801,
 135832,
 135849,
 135856,
 135863,
 135870,
 210621,
 136037,
 229067,
 163743,
 163750,
 163767,
 109499,
 109635,
 135900,
 135917,
 109567,
 35085,
 35083,
 336130,
 109314,
 377515,
 377478,
 377454,
 190251,
 190275,
 190282,
 337021,
 33682,
 226509,
 226431,
 226448,
 33677,
 292870,
 104555,
 121958,
 33691,
 284912,
 34906,
 466776,
 466769,
 205085,
 35235,
 102261,
 337144,
 337137,
 454063,
 454575,
 338059,
 140157,
 109307,
 110662,
 326391,
 326353,
 326377,
 173780,
 173773,
 123891,
 123914,
 338066,
 176712,
 162036,
 199643,
 110655,
 133678,
 33669,
 123488,
 123761,
 123778,
 100557,
 377447,
 114479,
 311229,
 35263,
 461306,
 35249,
 213424,
 111454,
 361248,
 361255,
 361262,
 361279,
 361286,
 35082,
 246187,
 193696,
 210102,
 216586,
 136426,
 104814,
 104821,
 104838,
 104845,
 104852,
 104869,
 33289,
 33305,
 33758,
 33501,
 33812,
 33796,
 33797,
 33816,
 129244,
 129237,
 129220,
 129213,
 237802,
 129251,
 138970,
 138987,
 35282,
 132787,
 352840,
 235068,
 33701,
 33764,
 33503,
 33765,
 33766,
 33767,
 33768,
 163538,
 34910,
 120418,
 243094,
 233071,
 307543,
 307550,
 307567,
 307574,
 307581,
 307604,
 162814,
 162821,
 162838,
 162784,
 124836,
 124850,
 106917,
 377393,
 377386,
 377379,
 35264,
 34543,
 33656,
 33657,
 33651,
 33654,
 226455,
 378857,
 33659,
 226417,
 226400,
 226547,
 226523,
 226530,
 226479,
 107167,
 33646,
 33658,
 226462,
 161473,
 103183,
 103190,
 32479,
 294348,
 103091,
 101943,
 101950,
 101967,
 101981,
 101998,
 102025,
 102032,
 102049,
 102063,
 102070,
 102124,
 101196,
 100915,
 112888,
 121057,
 118651,
 118668,
 118712,
 118729,
 118736,
 118743,
 118699,
 118767,
 118798,
 118811,
 118842,
 118859,
 118873,
 118552,
 118569,
 138192,
 138208,
 344388,
 344647,
 344654,
 344432,
 344562,
 344586,
 243414,
 243438,
 221368,
 216784,
 216838,
 220859,
 208154,
 201032,
 167789,
 179690,
 179713,
 179744,
 179904,
 179911,
 179928,
 179843,
 179997,
 180085,
 180122,
 200882,
 187602,
 187640,
 187688,
 184311,
 184373,
 184380,
 184397,
 184359,
 184434,
 184441,
 184472,
 485395,
 134132,
 184076,
 184083,
 103657,
 103640,
 328401,
 233545,
 114042,
 114066,
 201018,
 345569,
 345576,
 345583,
 187695,
 187701,
 187633,
 187596,
 180115,
 179980,
 180023,
 180054,
 180078,
 179751,
 179706,
 118620,
 119078,
 184304,
 344623,
 344463,
 344371,
 344425,
 344487,
 344500,
 344531,
 219099,
 153195,
 112369,
 218634,
 220897,
 225830,
 219785,
 219761,
 219945,
 220873,
 219792,
 200622,
 183994,
 184007,
 184014,
 219273,
 200646,
 200639,
 220118,
 307833,
 218627,
 222099,
 198486,
 218863,
 218894,
 171984,
 218948,
 219754,
 200974,
 118828,
 118705,
 118675,
 278553,
 278546,
 278539,
 109550,
 109543,
 126731,
 126748,
 122115,
 206006,
 284769,
 284776,
 284783,
 284790,
 151542,
 151566,
 151580,
 151597,
 108096,
 108102,
 108119,
 108126,
 113755,
 131056,
 131063,
 131070,
 207386,
 249881,
 206068,
 34084,
 125437,
 125413,
 125420,
 458610,
 417099,
 416467,
 416474,
 416481,
 273138,
 33668,
 105415,
 420228,
 148016,
 35271,
 182287,
 35273,
 35274,
 35267,
 35252,
 35253,
 202633,
 335874,
 431125,
 109291,
 161480,
 101424,
 367172,
 103572,
 416207,
 174619,
 125765,
 125772,
 34911,
 307352,
 103084,
 486750,
 134187,
 419727,
 155755,
 458672,
 101431,
 101448,
 103046,
 201926,
 124010,
 140577,
 111027,
 34909,
 215411,
 340380,
 338165,
 120074,
 102186,
 266918,
 367424,
 367363,
 367479,
 367462,
 367400,
 367455,
 367431,
 367387,
 367486,
 367493,
 367394,
 198615,
 198608,
 33680,
 238366,
 220651,
 220668,
 198622,
 220644,
 220637,
 487498,
 215336,
 215343,
 215350,
 215367,
 212649,
 155434,
 122306,
 204002,
 122290,
 122191,
 122269,
 108942,
 122160,
 108966,
 122238,
 122207,
 108973,
 122221,
 122276,
 122245,
 204026,
 108928,
 204019,
 122153,
 122214,
 108959,
 122177,
 122184,
 108935,
 122252,
 122283,
 218641,
 108485,
 303118,
 303071,
 303088,
 303095,
 303101,
 101257,
 102131,
 234733,
 129534,
 234764,
 218658,
 352024,
 203852,
 203869,
 204033,
 203975,
 155465,
 203920,
 155458,
 203845,
 203814,
 203968,
 203821,
 204064,
 155472,
 203913,
 203937,
 203999,
 203982,
 203944,
 203883,
 203876,
 203951,
 203890,
 179621,
 204071,
 203838,
 203906,
 155441,
 337014,
 139984,
 113687,
 194662,
 216647,
 432221,
 100359,
 366625,
 203531,
 444088,
 464352,
 469012,
 162845,
 31707,
 31708,
 28015,
 28021,
 28011,
 28764,
 28010,
 28018,
 28019,
 28013,
 28012,
 28014,
 28020,
 31706,
 32015,
 32016,
 28174,
 413381,
 413398,
 413510,
 413435,
 413411,
 413534,
 413572,
 33245,
 32776,
 220477,
 27884,
 27885,
 27886,
 218740,
 31297,
 167659,
 29088,
 29089,
 358101,
 448093,
 348188,
 464758,
 341905,
 383295,
 434348,
 478687,
 442206,
 478830,
 442190,
 442213,
 378130,
 442244,
 442183,
 378123,
 356589,
 27347,
 27351,
 27342,
 356565,
 333795,
 333801,
 29090,
 31537,
 31538,
 169370,
 23568,
 169264,
 172905,
 348676,
 348683,
 417884,
 417822,
 417853,
 27891,
 348713,
 348690,
 417839,
 28984,
 172899,
 26031,
 26028,
 28988,
 31551,
 26026,
 26027,
 31550,
 31566,
 29784,
 27980,
 27979,
 27982,
 29091,
 29092,
 31539,
 31540,
 31541,
 27981,
 32475,
 27995,
 31289,
 31290,
 27996,
 409537,
 409520,
 29774,
 409612,
 31287,
 31288,
 293365,
 293358,
 31286,
 31284,
 31285,
 439015,
 293334,
 293341,
 293327,
 27998,
 27997,
 227650,
 227636,
 27958,
 339957,
 27959,
 27960,
 27962,
 27963,
 27964,
 27961,
 27949,
 27948,
 27957,
 27969,
 28001,
 433846,
 28000,
 409605,
 409599,
 409582,
 409575,
 409568,
 409513,
 27967,
 409704,
 409506,
 27968,
 28002,
 27965,
 27966,
 29776,
 31292,
 27889,
 292023,
 292030,
 292047,
 292054,
 27890,
 423625,
 29771,
 29763,
 27990,
 27988,
 29767,
 29766,
 27956,
 409681,
 29770,
 29769,
 29764,
 409551,
 27991,
 29772,
 29775,
 409544,
 348195,
 33954,
 451321,
 451338,
 378154,
 383431,
 34147,
 356572,
 356541,
 356558,
 356527,
 27344,
 27349,
 27353,
 333818,
 442176,
 483162,
 423717,
 409636,
 30760,
 29414,
 34197,
 33292,
 34204,
 28042,
 34205,
 30759,
 28989,
 27713,
 14353,
 35562,
 35563,
 35561,
 27951,
 14355,
 14356,
 14497,
 35556,
 35565,
 147224,
 29415,
 27947,
 27950,
 422192,
 409490,
 34206,
 30702,
 34469,
 30703,
 34207,
 30704,
 34208,
 28215,
 422208,
 256483,
 378147,
 132862,
 451345,
 442220,
 191883,
 356619,
 356640,
 27343,
 27348,
 27352,
 356770,
 356510,
 356497,
 356671,
 27317,
 378116,
 451314,
 451598,
 28985,
 422215,
 408455,
 28986,
 417761,
 417785,
 27714,
 451611,
 417778,
 417792,
 422222,
 451604,
 451581,
 348737,
 408431,
 408448,
 27989,
 348720,
 348744,
 348706,
 417808,
 417815,
 417846,
 31298,
 167666,
 353069,
 31299,
 439060,
 31300,
 439077,
 326209,
 394826,
 394864,
 439084,
 409674,
 409667,
 409650,
 409643,
 465748,
 409629,
 27715,
 27716,
 25694,
 423267,
 423250,
 25698,
 25693,
 25696,
 25695,
 25697,
 27992,
 27993,
 25699,
 27994,
 447461,
 447454,
 27971,
 27893,
 27972,
 27970,
 27892,
 27983,
 453134,
 453141,
 32770,
 32771,
 311212,
 453158,
 27894,
 27987,
 27986,
 27978,
 27977,
 27976,
 27975,
 27984,
 27985,
 27974,
 27973,
 422383,
 27887,
 27888,
 27895,
 422390,
 27896,
 256490,
 147293,
 147316,
 356725,
 35224,
 356794,
 356886,
 356718,
 27345,
 27350,
 27313,
 356763,
 356701,
 356732,
 356749,
 27897,
 27898,
 24029,
 218771,
 31564,
 422406,
 31565,
 27946,
 422413,
 422420,
 431224,
 431149,
 431200,
 431255,
 431231,
 470803,
 375849,
 372176,
 30758,
 31549,
 28990,
 453165,
 227698,
 25692,
 27941,
 27940,
 465755,
 465731,
 465601,
 444071,
 32478,
 465632,
 465564,
 430821,
 218788,
 430760,
 154772,
 148108,
 154338,
 147187,
 147217,
 147194,
 437,
 444,
 147200,
 147026,
 256513,
 253970,
 379281,
 30761,
 23598,
 30755,
 30756,
 30757,
 35566,
 209687,
 209694,
 27945,
 430869,
 27939,
 209656,
 431385,
 209571,
 209588,
 209595,
 209625,
 34403,
 34405,
 209601,
 209618,
 209632,
 34400,
 34404,
 34402,
 34401,
 431071,
 465656,
 430791,
 431262,
 465649,
 465724,
 465571,
 465625,
 430845,
 431095,
 430913,
 27943,
 27944,
 447447,
 27942,
 26910,
 32483,
 29132,
 27717,
 26029,
 28987,
 26030,
 26911,
 26912,
 26913,
 26914,
 30939,
 30940,
 30953,
 25250,
 27938,
 29130,
 29129,
 256520,
 13967,
 31556,
 31557,
 431293,
 431323,
 431316,
 431354,
 431347,
 26907,
 26908,
 ...]

In [55]:
%%time
bancoFinal['status'] = bancoFinal['EAN'].apply(lambda x: True if x in plu else False)
list(bancoFinal['status'].drop_duplicates())

CPU times: total: 46.9 ms
Wall time: 56.2 ms

[False]

In [53]:
%%time
selection = artsystem['plu'] == '230223'
artsystem[selection]

CPU times: total: 31.2 ms
Wall time: 2.01 ms

Empty DataFrame
Columns: [plu, descriptions, ncm, ean, department, cost, cost_and_taxes, sale, suppliers_code, suppliers]
Index: []

In [47]:
selection = bancoFinal['status'] == True
bancoFinal[selection]

Empty DataFrame
Columns: [CODIGO, DESCRICAO, GRADE_x, OBSERVAÇÃO/DESCRIÇÃO COMPLETA, CUSTO, VENDA, NCM, CFOP, CEST, SETOR, SUB-GRUPO, EAN, CLASSIFICAÇÃO, GRADE_y, DESCRIÇÃO, OBSERVAÇÃO/DESCRIÇÃO RESUMIDA, ID, DUPLICATAS, VASILHAME, status]
Index: []

In [118]:
selection = query['VENDA'].str.contains('.49', regex=True)
valores49 = query[selection]